@use postcss-preset-env {
  stage: 0;
  features: {
    "logical-properties-and-values": false
  }
} 


* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  font-family: system-ui, sans-serif;
  padding: 5vmax;
  display: grid;
  place-content: center;
  gap: 5vmax;
  background-color: var(--theme-bg-default);
  color: var(--theme-fg-default);
}

main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10vmax 10vmin;
}

section {
  display: grid;
  gap: 2.5vh;
}

h1 {
  font-size: var(--font-sizes-h1);
  font-family: var(--font-families-heading);
}

p {
  max-inline-size: 35ch;
  line-height: 1.5;
  font-family: var(--font-families-body);
  font-size: var(--font-sizes-body);
}

header {
  display: inline-grid;
  gap: 1ch;
}

form {
  display: flex;
  gap: 2ch;

  & > div {
    display: inline-flex;
    align-items: center;
    gap: .75ch;
  }
}

.surface-samples {
  display: grid;
  --size: 20ch;
  grid-template-columns: var(--size) var(--size);
  grid-auto-rows: var(--size);
  gap: 2ch;
}

.border-radi{
  border-radius: var(--border-radius-xl)!important;
}

.text-samples {
  display: grid;
  gap: 1.5ch;

  & > h1 {
    font-size: 2.5rem;
    display: inline-flex;
    align-items: center;
    gap: 1ch;
  }
}

.brand {
  color: var(--theme-fg-default);
  background-color: var(--theme-accent-default);
}

i{
  color: var(--theme-accent-default);
  font-style: normal;
}

.surface1 {
  background-color: var(--theme-bg-muted);
  color: var(--theme-fg-default);
}

.surface2 {
   background-color: var(--theme-bg-subtle);
  color: var(--theme-fg-default);
}

.surface3 {
  background-color: var(--theme-bg-subtle);
  color: var(--theme-fg-default);
}

.surface4 {
  background-color: var(--theme-bg-muted);
  color: var(--theme-fg-default);
}

.text1 {
  color: var(--theme-fg-default);
  @nest p& {
    font-weight: 200;
  }
}

.text2 {
  color: var(--theme-fg-subtle);
}

.swatch {
  display: inline-block;
  flex-shrink: 0;
  inline-size: 1.5ch;
  block-size: 1.5ch;
  border-radius: 50%;

  &.text1 { background-color: var(--theme-fg-default);}
  &.text2 { background-color: var( --theme-fg-subtle);}
}




.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.theme-switch {
  color: var(--theme-fg-default);
  width: 70px;
  height: 30px;
  background: var(--theme-fg-on-accent);
  border-radius: 50px;
  position: relative;
}
.theme-switch .switch {
  background: white;
  width: 24px;
  height: 24px;
  background: var(--theme-bg-default);
  border-radius: 100%;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: 0.5s all ease;
}

.light-theme {
  background: var(--theme-bg-default);
}
.light-theme .theme-switch {
  background: var(--theme-fg-default);
}
.light-theme .theme-switch .switch {
  transform: translateX(37px);
}
.light-theme a {
  color: var(--theme-fg-default);
}
